body{
background: rgb(54, 104, 114);
	text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 10% auto auto auto ;
}


h2{
    text-transform: uppercase;
    margin-bottom: 4%;
    font-size: 30px;
    color: #ffffff;
    
}

.instr{
    line-height: 1.5;
    font-size: 1.1em;
}

input{
    margin-top:2%;
     border: none;
     padding:0.6em;
     min-width: 65%;
     border-radius:5px;
     font-size: 1.1em;
}

.enterButton{
    border: none;
    padding: 14px 15px;
    border-radius: 5px;
    background-color: rgb(138, 209, 221);
}

.enterButton:hover{
    background: rgb(166, 226, 238);
    transition: all 0.75s ease;
}

.first {

	color: #FFCD5D;
}

.second {

	color: #51DF70;

}

.third {
	color: rgb(138, 209, 221);
	
}

.fourth{
    font-style: italic;
    color: #51DF70;
}

ul{
    text-align: left;
    margin-top: 20px;
}

li {
	list-style: none;
	padding: 0.625em 1.25em;
    color:  #025f70;
	text-transform: capitalize;
	font-weight: 600;
	border: 2px solid #025f70;
	border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 3%;
    background: #4EB9CD;
    transition: all 0.75s ease;
    max-width: 85%;
  
    

}
li:hover {
	background: rgb(166, 226, 238);
}

.delete {
	display: none;
}

.done {
	background: #51DF70 !important;
	color: #00891E;
}

li > button {
	font-weight: normal;
	background: none;
	border: none;
	float: right;
	color: #025f70;
    font-weight: 800;
}

button:hover{
    background-color: rgb(166, 226, 238);
}
